@import url('https://fonts.googleapis.com/css2?family=Changa:wght@300&family=Poppins:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings and logo */

h1, h2 {
    font-family: 'Changa', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #454545;
}

/* logo and home page navigation top left */
#logo {
   top: 0;
   margin-bottom: 20px;
   position: fixed;
   display: inline;
   float: left;
   direction: ltr;
   width: 100%;
   background-color: #fff;
   z-index: 2;
}

#logo h1 {
   font-size: 2.5rem;
   margin-bottom: 10px;
}

#logo a:link {
   text-decoration: none;
}

#logo a:hover {
   filter: drop-shadow(0 1px 3px rgba(241, 109, 107, .7));
}

.logo-home {
   height: 110px;
}

/* logo and home page navigation top left */
#top-container {
   height: 160px;
   width: 100%;
   background-color: #eee6c9;
   margin: 0;
   position: relative;
}

#logo-home-join {
   height: 140px;
   width: 800px;
   background-color: #eee6c9;
   margin: 0;
}

#logo-home-join {
   display: flex;
}

#logo-home-join a:link {
   text-decoration: none;
}

#logo-home-join .logo-home:hover {
   filter: drop-shadow(0 0 5px rgb(188, 157, 48, 0.9));
 /*  filter: drop-shadow(0 1px 3px rgba(241, 109, 107, .7)); */
}

#logo-home-join a:hover h1 {
   filter: drop-shadow(0 0 5px rgb(188, 157, 48, 0.9));
 /*  filter: drop-shadow(0 1px 3px rgba(241, 109, 107, .7)); */
}

#logo-image {
   margin-top: 15px;
   margin-left: 10px;
   height: 120px;
   width: 120px;
   background-color: #eee6c9;
}

#logo-words {
   height: 70px;
   width: 650px;
   margin-top: 35px;
   margin-bottom: 30px;
   background-color: #eee6c9;
   position: absolute;
   top: 0;
   left: 130px;
}

#logo-words h1 {
   font-size: 2.5rem;
   margin-bottom: 10px;
}

#quick-contact {
   float: right;
   height: 140px;
   background-color: #eee6c9;
   font-size: 90%;
   position: absolute;
   top: 15px;
   right: 0;
}

#menu {
   font-size: 110%;
   letter-spacing: 2px;
   width: 100%;
   top: 100px;
   position: fixed;
   z-index: 2;
}


/* balancing the line height */

#menu-box {
  width: 900px;
  margin-left: 200px;
  margin-top: -40px;
  background-color: #eee6c9;
  position: relative;
  height: 50px;
  padding-top: 10px;
}

#menu-box li {
   list-style-type: none;
   margin: 30px;
   direction: rtl;
   display: inline;
   bottom: 0;
}
#menu-box a {
   text-decoration: none;
   font-family: 'Changa', sans-serif;
   letter-spacing: 2px;
   font-size: 150%;
   color: inherit;
}

#menu-box a:hover {
   border-bottom: 1px solid #3a3a3a;
   filter: drop-shadow(0 0 5px rgb(188, 157, 48, 0.9));
}

.active {
   border-bottom: 1px solid #3a3a3a;
   filter: drop-shadow(0 0 5px rgb(188, 157, 48, 0.9));
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 2px;
    width: 100%;
    top: 100px;
    position: fixed;
    z-index: 2;
}


/* balancing the line height */

#menu div {
   float: right;
   width: 100%;
   background-color: #fff;
   position: relative;
   height: 60px;
   padding-top: 10px;
}

#menu li {
    list-style-type: none;
    margin: 30px;
    direction: rtl;
    display: inline;
    bottom: 0;
}
 #menu a {
    text-decoration: none;
    color: inherit;
 }

.nav-splat {
   background-image: url(../images/black-ink.png);
}

 #menu a:hover {
    border-bottom: 1px solid #3a3a3a;
    font-weight: 150%;
 }

 .active {
    filter: drop-shadow(0 0 10px rgba(137, 119, 17, 0.8));
 }

 /* hero image and supporting text */

 #hero-outer {
    height: 900px;
    width: 80vw;
    margin-right: 10vw;
    margin-left: 10vw;
    overflow: hidden;
    position: relative;
    margin-top: 400px;
    background: url('../images/gold-smear-diagonal.png') no-repeat center center;
    background-size: contain;
    object-position: center;
    object-fit: fill;
    object-position: center;
 }

 #cover-text, #cover-text h2 {
    color: #fff;
 }

 #hero-image {
    width: 50vw;
    height: 600px;
    margin-top: 50px;
    margin-left: 15vw;
    background: url('../images/gold-card-logo.png') no-repeat center center;
    background-size: contain;
    object-position: center;
    object-fit: fill;
    position: relative;
    /* animates the zoom effect on the loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}
 /* creates the level of zoom for hero image */
 @keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.15);
    }
 }

 #cover-text {
    font-size: 100%;
    font-family: 'Changa', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    
    width: 300px;
    height: 200px;
    
    padding-top: 10px;
    padding-left: 10px;
    
    background-color: rgba(241, 109, 107, .7);
    
    top: 30px;
    right: 0;

    position: absolute;
 }

/* club ethos */

#welcome {
   text-align: center;
   margin: 20px 0;
   font-size: 280%;
}

 #club-ethos {
    height: 600px;
    background-image: url(../images/circuitry.png);
    filter: grayscale(0.8);
    opacity: 50%;
 }

 #left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
 }

 #right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
 }

 #center-about {
    width: 33%;
    margin: 0 auto;
 }

 hr {
   border-top: 1px solid #3a3a3a;
   width: 100%;
   margin: 5px 0;
 }

 .left-about-heading {
   width: 60%;
   float: right;
   line-height: 20px;
   clear: both;
   margin-bottom: 50px;
   font-size: 110%;
 }

 .right-about-heading {
   width: 60%;
   float: left;
   line-height: 20px;
   clear: both;
   margin-bottom: 50px;
   font-size: 110%;
 }

 .right-about-heading h2 {
   text-align: right;
   font-size: 110%;
 }

 .right-about-heading p {
   text-align: right;
   font-size: 110%;
}

 #circle-container {
   width: 300px;
   height: 300px;
   padding: 30px; 
   border: solid;
   border-color: #ccc;
   border-width: 1px;
   border-radius: 50%;
   margin: 0 auto;
   background: url(../images/gold-circle.png) no-repeat center center;
   object-fit: fill;
 }

 #circle-cover-bg {
   background: url('../images/breaker.png') no-repeat center center;
   height: 300px;
   width: 300px;
   object-fit: contain;
   background-size: contain;
   border-radius: 50%;
}

/* course image */

#times {
   background-image: url('../images/random-test-equipment.png');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   width: 100%;
   overflow: hidden;
}

#times div {
   color: #fafafa;
   background-color: rgba(0, 0, 0, .6);
   width: 20%;
   height: 300px;
   float: left;
   padding: 30px 0 0 10px;
   text-align: center;
   border: 2px solid #fff;
   box-sizing: border-box;
}

#times h2 {
   color: #fafafa;
}

/* footer */

footer {
   height: 150px;
}

.social-networks {
   text-align: center;
}

.social-networks > li {
   display: inline;
}

.social-networks i {
   font-size: 160%;
   margin: 1%;
   padding: 5%;
   color: #3a3a3a;
}

/* media queries */

/* For larger to medium screens size from 1200px wide and down */
@media screen and (max-width: 1200px) {
   #club-ethos {
      width: 65%;
      height: 1200px;
      margin: 0 auto;
   }

   #welcome {
      padding: 30px 0;
      margin: 0;
   }   

   #left-about, #right-about {
      width: 100%;
      float: left;
      padding: 0;
   }   

   #center-about {
      clear: both;
      width: 100%;
      float: left;
      padding: 0;
   }

   #times > div {
      width: 100%;
      clear: both;
      height: 150px;
      padding: 0;
   }

   hr {
      display: none;
   }
}

/* for medium screen sizes from 950px wide and down */
@media screen and (max-width: 950px) {

   #menu {
      clear: left;
      float: left;
      margin-left: 30px;
      margin-bottom: 20px;
      line-height: 25px;
   }

   #cover-text {
      left: 0;
   }

   #club-ethos {
      width: 90%;
      height: 1200px;
      margin: 0 auto;
   }

   .left-about-heading, .right-about-heading {
      width: inherit;
   }

   .left-about-heading h2, .right-about-heading h2 {
      width: 100%;
      text-align: center;
   }

   .left-about-heading p, .right-about-heading p {
      width: 100%;
      text-align: center;
      padding: 20px;
   }
}
