@import url('https://fonts.googleapis.com/css2?family=Changa:wght@300&family=Poppins:wght@200&display=swap');

* {
   margin: 0;
   padding: 0;
   border: none;
   box-sizing: border-box;
}

body p {
   font-family: 'Poppins', sans-serif;
   font-weight: 300;
   color: #454545;
}

/* headings and logo */
h1, h2 {
   font-family: 'Changa', sans-serif;
   text-transform: uppercase;
   letter-spacing: 3px;
   color: #454545;
}

h3 {
   font-family: 'Changa', sans-serif;
   letter-spacing: 1px;
   color: #fafafa;
}

/* logo and home page navigation top left */
.logo-home {
   height: 110px;
}

#top-container {
   height: 320px;
   width: 100%;
   background-color: #eee6c9;
   background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255, 1) 90%);
   margin: 0;
   position: relative;
}

#logo-home-join {
   height: 140px;
   width: 800px;
   margin: 0;
}

#logo-home-join {
   display: flex;
}

#logo-home-join a:link {
   text-decoration: none;
}

#logo-home-join .logo-home:hover {
   filter: drop-shadow(0 0 5px rgb(188, 157, 48, 0.9));
}

#logo-home-join a:hover h1 {
   filter: drop-shadow(0 0 5px rgb(188, 157, 48, 0.9));
}

#logo-image {
   margin-top: 15px;
   margin-left: 10px;
   height: 120px;
   width: 120px;
}

#logo-words {
   height: 70px;
   width: 650px;
   margin-top: 35px;
   margin-bottom: 30px;
   position: absolute;
   top: 0;
   left: 100px;
}

#logo-words h1 {
   font-size: 2.5rem;
   margin-bottom: 10px;
}

#quick-contact {
   float: right;
   height: 140px;
   font-size: 90%;
   position: absolute;
   top: 15px;
   right: 15px;
   color: #454545;
}

.line-container {
   opacity: 0;
}

.line {
   opacity: 0;
}

.menu-box {
  width: 900px;
  margin-left: 200px;
  margin-top: -40px;
  position: relative;
  height: 50px;
  padding-top: 10px;
}

.menu-box li {
   list-style-type: none;
   margin: 30px 25px;
   direction: rtl;
   display: inline;
   bottom: 0;
}
.menu-box a {
   text-decoration: none;
   font-family: 'Changa', sans-serif;
   letter-spacing: 2px;
   font-size: 150%;
   color: inherit;
}

.menu-box a:hover {
   border-bottom: 1px solid #3a3a3a;
   filter: drop-shadow(0 0 5px rgb(188, 157, 48, 0.9));
}

.active {
   border-bottom: 1px solid #3a3a3a;
   filter: drop-shadow(0 0 5px rgb(188, 157, 48, 0.9));
}

 /* hero image and supporting text */
 #hero-outer {
   height: 900px;
   width: 80vw;
   margin-right: 10vw;
   margin-left: 10vw;
   overflow: hidden;
   position: relative;
   margin-top: -190px;
   background: url('../images/gold-smear-diagonal.png') no-repeat center center;
   background-size: contain;
   object-position: center;
   object-fit: fill;
   object-position: center;
 }

 #cover-text, #cover-text h2 {
    color: #fff;
 }

 #hero-image {
    width: 50vw;
    height: 600px;
    margin-top: 50px;
    margin-left: 15vw;
    background: url('../images/gold-card-logo.png') no-repeat center center;
    background-size: contain;
    object-position: center;
    object-fit: fill;
    position: relative;
    /* animates the zoom effect on the loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}
 /* creates the level of zoom for hero image */
 @keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.15);
    }
 }

 #cover-text {
    font-size: 100%;
    font-family: 'Changa', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    width: 300px;
    height: 200px;
    padding-top: 10px;
    padding-left: 10px;
    background-color: rgba(241, 109, 107, .7);
    border-radius: 1px;
    top: 30px;
    right: 0;
    position: absolute;
 }

/* why train with us? */
#page-base {
   height: 600px;
   position: relative;
   background-image: linear-gradient(to top, rgba(188, 157, 48, 1), rgba(188, 157, 48, 0) 60%);
 }

 #blur-box {
   background-image: linear-gradient(to top, rgba(255,255,255,0), rgba(255, 255, 255, 1) 100%);
   height: 130px;
   width: 100%;
   position: absolute;
   top: -60px;
   z-index: 2;
}

#welcome {
   text-align: center;
   margin: -60px 50px 20px 0;
   font-size: 280%;
   letter-spacing: 1px;
   line-height: 170%;
   z-index: 1;
}

.circuit-background-home {
      height: 650px;
      bottom: 0;
      width: 100%;
      overflow: hidden;
      background: url(../images/circuitry.png) no-repeat center center;
      filter: sepia(1); 
      opacity: 60%;
      position: absolute;
 }

 #left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
 }

 #right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
 }

 #center-about {
    width: 33%;
    margin: 0 auto;
 }

 hr {
   border-top: 1px solid #3a3a3a;
   width: 100%;
   margin: 5px 0;
 }

 .left-about-heading {
   width: 60%;
   float: right;
   line-height: 20px;
   clear: both;
   margin-bottom: 50px;
   font-size: 110%;
 }

 .right-about-heading {
   width: 60%;
   float: left;
   line-height: 20px;
   clear: both;
   margin-bottom: 50px;
   font-size: 110%;
 }

 .left-about-heading h2 {
   text-align: left;
   font-size: 110%;
 }

 .left-about-heading p {
   text-align: left;
   font-size: 110%;
}

 .right-about-heading h2 {
   text-align: right;
   font-size: 110%;
 }

 .right-about-heading p {
   text-align: right;
   font-size: 110%;
}

 #circle-container {
   width: 300px;
   height: 300px;
   padding: 30px; 
   border: solid;
   border-color: #ccc;
   background-color: rgba(250, 250, 250, 0.7);
   border-width: 2px;
   border-radius: 50%;
   margin: 0 auto;
   overflow: hidden;
 }

 #circle-cover-bg {
   background: url('../images/lamp.png') no-repeat center center;
   height: 300px;
   width: 300px;
   object-fit: contain;
   background-size: contain;
   margin-top: -39px;
   margin-left: -30px;
   border-radius: 50%;
   filter: grayscale(0);
}

/* course image */
#course-quick-links {
   background-image: url('../images/random-test-equipment.png');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   width: 100%;
   overflow: hidden;
}

#course-quick-links a {
   text-decoration: none;
   color: #fafafa;
}

#course-quick-links a:hover {
   text-decoration: none;
   color: #fafafa;
   font-size: 110%;
}

#course-quick-links div {
   color: #fafafa;
   background-color: rgba(0, 0, 0, .6);
   width: 20%;
   height: 300px;
   float: left;
   padding: 30px 0 0 10px;
   text-align: center;
   border: 2px solid #fafafa;
   box-sizing: border-box;
}

#course-quick-links h2, p {
   color: #fafafa;
}

/* footer */
footer {
   height: 150px;
}

.social-networks {
   text-align: center;
}

.social-networks > li {
   display: inline;
}

.social-networks i {
   font-size: 400%;
   margin: 1%;
   padding: 5%;
   color: #3a3a3a;
}

.social-networks i:hover {
   color: #eee6c9;
   filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.7));
}

.home-page {
   background-color: #bc9d30;;
}

/* courses main-page and individual page styling */
#page-width {
   height: 800px;
   margin-top: 0;
   padding-top: 60px;
   width: 100vw;
   display: flex;
   justify-content: center;
   overflow: hidden;
   z-index: 1;
}

#outer-course-container {
   height: 700px;
   width: 700px;
   background: url(../images/gold-circle.png) no-repeat center center;
   position: relative;
   background-size: contain;
   transition: all 1s ease;
}

#outer-course-container h1 {
   text-align: center;
   font-size: xx-large;
   color: #fafafa;
   position: absolute;
   margin-top: 130px;
   margin-left: 90px;
   z-index: 3;
}

#page-width:hover #outer-course-container {
   translate: 0 150px;
   transform: rotate(360deg);
   height: 175px;
   width: 175px;
   background: url(../images/gold-circle.png) no-repeat center center;
   position: relative;
   background-size: contain;
   transition: all 1s ease;
}

#page-width:hover #outer-course-container h1 {
   opacity: 0;
}

.course-container {
   width: 60px;
   height: 60px;
   position: absolute;
   margin: 175px;
}

.button {
   width: 320px;
   height: 320px;
   cursor: pointer;
   position: absolute;
   transition: all 1s ease;
   z-index: 2;
}

.button a:link {
   text-decoration: none;
}

.button:nth-child(1) {
   border-radius: 50%;
   background-image: radial-gradient(#7b4c20 40%, #bc9d30 55%, #fff 5%);
}

.button:nth-child(2) {
   border-radius: 50%;
   background-image: radial-gradient(#7b4c20 40%, #bc9d30 55%, #fff 5%);
}

.button:nth-child(3) {
   border-radius: 50%;
   background-image: radial-gradient(#7b4c20 40%, #bc9d30 55%, #fff 5%);
}

.button:nth-child(4) {
   border-radius: 50%;
   background-image: radial-gradient(#7b4c20 40%, #bc9d30 55%, #fff 5%);
}

.button:nth-child(5) {
   border-radius: 50%;
   background-image: radial-gradient(#7b4c20 40%, #bc9d30 55%, #fff 5%);
}

.button:nth-child(6) {
   border-radius: 50%;
   background-image: radial-gradient(#7b4c20 40%, #bc9d30 55%, #fff 5%);
}

.item-sm {
   opacity: 0;
}

#page-width:hover .item-sm {
   opacity: 1;
}

#page-width:hover .button {
   border-radius: 0;
   width: 0;
   height: 0;
   cursor: pointer;
}

#page-width:hover .button:nth-child(1) {
   transform: translate(250px, -50px);
   background: url(../images/gold-smudge-four.png) no-repeat center center;
   width: 350px;
   height: 100px;
   background-size: contain;
   border-radius: 0;
   text-align: center;
   padding: 30px;
}

#page-width:hover .button:nth-child(2) {
   transform: translate(-100px, 30px);
   background: url(../images/gold-smudge-two.png) no-repeat center center;
   width: 350px;
   height: 100px;
   background-size: contain;
   border-radius: 0;
   text-align: center;
   padding: 30px;
}

#page-width:hover .button:nth-child(3) {
   transform: translate(-550px, -50px);
   background: url(../images/gold-smudge-eight.png) no-repeat center center;
   width: 350px;
   height: 100px;
   background-size: contain;
   border-radius: 0;
   text-align: center;
   padding: 30px;
}

#page-width:hover .button:nth-child(4) {
   transform: translate(-200px, -350px);
   background: url(../images/gold-smudge-five.png) no-repeat center center;
   width: 350px;
   height: 100px;
   background-size: contain;
   border-radius: 0;
   text-align: center;
   padding: 30px;
}

#page-width:hover .button:nth-child(5) {
   transform: translate(-100px, -350px);
   background: url(../images/gold-smudge-one.png) no-repeat center center;
   width: 350px;
   height: 100px;
   background-size: contain;
   border-radius: 0;
   text-align: center;
   padding: 30px;
}

#page-width:hover .button:nth-child(6) {
   transform: translate(0, -250px);
   background: url(../images/gold-smudge-seven.png) no-repeat center center;
   width: 350px;
   height: 100px;
   background-size: contain;
   border-radius: 0;
   text-align: center;
   padding: 30px;
}

/* format for individual course pages */
.course-information {
      font-size: 120%;
      letter-spacing: 3px;
      font-weight: 800;
      width: 60vw;
      margin-top: 200px;
      margin-left: 40px;
      padding-top: 10px;
      padding-bottom: 30px;
      padding-left: 10px;
      background-color: rgba(255, 255, 255, .8);
      border-radius: 3px;
      margin-right: 15vw;
      position: relative;  
}
.course-information h3 {
   font-size: 180%;
   color: #454545;
}

/* about us container */
#about-box {
   width: 100vw;
   display: flex;
   justify-content: space-evenly;
}

.gold-paint {
   height: 800px;
   width: 60vw;
   margin-left: 5vw;
   overflow: hidden;
   position: relative;
   margin-top: -190px;
   background: url('../images/gold-top-bottom-borders.png') no-repeat center center;
   background-size: contain;
   object-position: center;
   object-fit: fill;
}

#about-us-info {
   font-size: 120%;
   letter-spacing: 3px;
   font-weight: 800;
   width: 60vw;
   margin-top: 200px;
   padding-top: 10px;
   padding-bottom: 30px;
   padding-left: 10px;
   background-color: rgba(255, 255, 255, .8);
   border-radius: 3px;
   margin-left: 0;
   margin-right: 15vw;
   position: absolute;
}

.map-box {
   margin-top: 5px;
   width: 30vw;
   height: 400px;
   margin-right: 5vw;
   border: 3px solid rgba(0, 0, 0, .6);
   background-size: contain;
   object-position: center;
   object-fit: fill;
   object-position: center;
   overflow: hidden;
}

/* contact form styling */
#contact-bg {
   position: relative;
   margin-top: -40px;
   height: 1300px;
}

.circuit-background {
   height: 1200px;
   top: 0;
   width: 100%;
   background: url(../images/circuitry.png) no-repeat center center;
   filter: sepia(1); 
   overflow: hidden;
   opacity: 40%;
}

#blur-box2 {
   background-image: linear-gradient(to top, rgba(255,255,255,0), rgba(255, 255, 255, 1) 60%);
   height: 40px;
   width: 100%;
   position: absolute;
   top: 0;
   z-index: 2;
}

#form-container {
   margin-top: -1160px;
   margin-bottom: 900px;
   overflow: visible;
   width: 70vw;
   margin-left: 15vw;
   background-color: rgba(255, 255, 255, 0.7);
   position: relative;
}

#form-container div {
   margin: 15px;
   padding: 5px;
}

fieldset {
   border: solid 1px #454545;
}

legend {
   font-family: 'Changa', sans-serif;
   text-transform: uppercase;
   font-size: 200%;
   letter-spacing: 3px;
   padding-left: 15px;
   padding-right: 15px;
   color: #454545;
}

label {
   font-family: 'Poppins', sans-serif;
   letter-spacing: 2px;
   color: #454545;
   padding: 12px 12px 12px 0;
   display: inline-block;
}

input[type=text] {
   background-color:rgba(250, 250, 250, 0.7);
   height: 30px;
   width: 250px;
   border: solid 1px #454545;
   border-radius: 5px;
}

input[type=email] {
   background-color:rgba(250, 250, 250, 0.7);
   height: 30px;
   width: 255px;
   border: solid 1px #454545;
   border-radius: 5px;
}

input[type=number] {
   background-color:rgba(250, 250, 250, 0.7);
   height: 30px;
   width: 200px;
   border: solid 1px #454545;
   border-radius: 5px;
}

input[type=submit] {
   background-color: #04AA6D;
   color: white;
   padding: 12px 20px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   float: right;
 }
 
 input[type=submit]:hover {
   background-color: #45a049;
 }

/* code from w3 to change to fit */ 
 input[type=text], select, textarea {
   width: 100%;
   padding: 12px;
   border: 1px solid #ccc;
   border-radius: 4px;
   resize: vertical;
 }

 input[type=email], select, textarea {
   width: 100%;
   padding: 12px;
   border: 1px solid #ccc;
   border-radius: 4px;
   resize: vertical;
 }

 input[type=number], select, textarea {
   width: 100%;
   padding: 12px;
   border: 1px solid #ccc;
   border-radius: 4px;
   resize: vertical;
 }

 input[type=feedback], select, textarea {
   width: 100%;
   padding: 12px;
   border: 1px solid #ccc;
   border-radius: 4px;
   resize: vertical;
 }
 
 label {
   padding: 12px 12px 12px 0;
   display: inline-block;
 }
 
 .container {
   border-radius: 5px;
   background-color: #f2f2f2;
   padding: 20px;
 }
 
 .col-25 {
   float: left;
   width: 25%;
   margin-top: 6px;
 }
 
 .col-75 {
   float: left;
   width: 75%;
   margin-top: 6px;
 }
 
 /* Clear floats after the columns */
 .row::after {
   content: "";
   display: table;
   clear: both;
 }

 .contact-form {
   margin-top: 300px;
}
 
 /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
 @media screen and (max-width: 600px) {
   .col-25, .col-75, input[type=submit] {
     width: 100%;
     margin-top: 0;
   }
 }

/* terms and conditions scroll-box and formatting */
.ts-cs-heading {
   width: 70vw;
   margin-left: 15vw;
   margin-top: -25px;
   font-size: 200%;
   z-index: 3;
}

#ts-cs {
   width: 70vw;
   height: 600px;
   margin-left: 15vw;
   margin-top: -5px;
   margin-bottom: 180px;
   padding: 10px 10px 20px 35px;
   border:rgba(0, 0, 0, 0.7) 1px solid;
   border-top: none;
   overflow-y: scroll;
}

#ts-cs .bold {
   font-weight: bold;
}

#ts-cs p {
   font-family: 'Times New Roman', Times, serif;
   line-height: 180%; 
   text-indent: -15px;  
}

#ts-cs .further-indent {
   text-indent: 30px;
}

/* games */
#memory-match-game {
   font-size: 180%;
   display: flex;
   flex-direction: column;
   align-items: center;
   color: #454545;
   letter-spacing: 2px;
   margin-top: -10px;
   margin-bottom: 180px;
}

#memory-match-game #score {
   font-size: 2rem;
   font-weight: bold;
   margin: 30px 0;
}

#memory-match-game button {
   /* font-family*/
   border-radius: 5px;
   border: none;
   padding: 0.5rem;
   font-size: 1rem;
   letter-spacing: 1px;
   cursor: pointer;
   margin-bottom: 30px;
}

#memory-match-game ul {
   display: grid;
   grid-template-columns: repeat(4, 100px);
   grid-template-rows: repeat(4, 100px);
   gap: 10px;
   padding: 0;
}

#memory-match-game li {
   list-style-type: none;
   border: 0.5px solid rgb(2, 0, 36);
   border-radius: 10px;
   cursor: pointer;
}

/* media queries */

/* For larger to medium screens size from 1200px wide and down */
@media screen and (max-width: 1200px) {
   #company-ethos {
      width: 65%;
      height: 1200px;
      margin: 0 auto;
   }
   
   #quick-contact {
      float: right;
      height: 140px;
      font-size: 90%;
      position: absolute;
      top: 100px;
      right: 15px;
      color: #454545;
   }

   #hero-outer {
      height: 800px;
      width: 80vw;
      margin-right: 10vw;
      margin-left: 10vw;
      overflow: hidden;
      position: relative;
      margin-top: -190px;
      background: url('../images/gold-smear-diagonal.png') no-repeat center center;
      background-size: contain;
      object-position: center;
      object-fit: fill;
      object-position: center;
    }

   #cover-text {
      width: 290px;
      height: 170px;
      padding-top: 10px;
      padding-left: 10px;
      background-color: rgba(241, 109, 107, .7);
      border-radius: 1px;
      top: 230px;
      right: 0;
      position: absolute;
   }

   #welcome {
      padding: 30px 0;
      margin: 0;
   }   

   #left-about, #right-about {
      width: 100%;
      float: left;
      padding: 0;
   }   

   #center-about {
      clear: both;
      width: 100%;
      float: left;
      padding: 0;
   }

   #course-quick-links > div {
      width: 100%;
      clear: both;
      height: 150px;
      padding: 0;
   }

   hr {
      display: none;
   }

   .menu-box {
      width: 170px;
      margin-left: -170px;
      margin-top: -40px;
      position: relative;
      padding: 20px;
      align-items: center;
      background-color: #f2f2f2;
      transition: all 1s ease;
    }
    
    .menu-box li {
       list-style-type: none;
       margin: 30px;
       direction: rtl;
       display: inline;
       bottom: 0;
    }
    
    .menu-box a {
       text-decoration: none;
       font-family: 'Changa', sans-serif;
       letter-spacing: 2px;
       font-size: 150%;
       color: inherit;
    }
    
    .menu-box a:hover {
       border-bottom: 1px solid #3a3a3a;
       filter: drop-shadow(0 0 5px rgb(188, 157, 48, 0.9));
    }
    
    .line-container {
      opacity: 1;
      margin: 50px;
      width: 40px;
      height: 30px;
      cursor: pointer;
  }
  
  .line {
      opacity: 1;
      width: 100%;
      height: 2px;
      background-color: #454545;
      margin: 14px;
      border-radius: 10px;
      transition: transform 1s ease, opacity 0.5s ease;
      transform-origin: left;
  }
  
  .menu-box.active {
      transform: translateX(170px);
  }
  
  .line-container.active .line-1 {
      transform: rotate(45deg);
  }
  
  .line-container.active .line-2 {
      opacity: 0;
  }
  
  .line-container.active .line-3 {
      transform: rotate(-45deg);
  }
}

/* for medium screen sizes from 950px wide and down */
@media screen and (max-width: 950px) {
   #logo-words h1 {
      font-size: 2.2rem;
      margin-bottom: 10px;
   }
   
   #cover-text {
      font-size: 92%;
      width: 250px;
      height: 170px;
   }

   #company-ethos {
      width: 90%;
      height: 1200px;
      margin: 0 auto;
   }

   .left-about-heading, .right-about-heading {
      width: inherit;
   }

   .left-about-heading h2, .right-about-heading h2 {
      width: 100%;
      text-align: center;
   }

   .left-about-heading p, .right-about-heading p {
      width: 100%;
      text-align: center;
      padding: 20px;
   }
}

/* for medium screen sizes from 700px wide and down */
@media screen and (max-width: 700px) {
   #logo-words h1 {
      font-size: 1.5rem;
      margin-bottom: 10px;
   }
   
   #cover-text {
      font-size: 100%;
      width: 95vw;
      height: 120px;
      top: 120px;
      padding-left: 5px;
      padding-right: 5px;
      overflow: wrap;
      left: 0;
   }

   #circle-container {
      opacity: 0;
    }
   
    #circle-cover-bg {
      opacity: 0;
   }
}